target
.DS_Store

# For dev purposes
config*.json
out
out.dcm
anonymized.dcm
scratch.md
analysis_report*.md
timings.md
.spin

# Keep this one for documentation purposes
!dicom-anonymization/config_default.json
